# mac os files
.DS_Store

# ignore jupyter notebook checkpoints
.ipynb_checkpoints/

__pycache__/
venv/
.env
.envrc
*.csv
economic-census
etl/trade_balance/*.ipynb
etl/geo/*.ipynb
etl/inegi_intercensal_census/*.ipynb

.log

etl/enoe/*.ipynb
etl/inegi_census/*.ipynb

etl/inegi_intecensal_census_2005/Untitled.ipynb
etl/enigh/Enigh - Expenses.ipynb
etl/enigh/Enigh - Population.ipynb
etl/enoe/Enoe.ipynb
etl/inegi_census/population_2010.ipynb
etl/inegi_census/population_2010.ipynb
etl/enoe/Enoe.ipynb
etl/inegi_intecensal_census_2005/Intercensal_census_2005.ipynb
etl/enoe/Enoe.ipynb
etl/inegi_intecensal_census_2005/Intercensal_census_2005.ipynb
etl/inegi_census/population_2010.ipynb
