# mac os files
.DS_Store

# ignore jupyter notebook checkpoints
.ipynb_checkpoints/

__pycache__/
venv/
.env
.envrc
*.csv
economic-census
etl/trade_balance/*.ipynb
etl/geo/*.ipynb
etl/inegi_intercensal_census/*.ipynb

.log

etl/enoe/*.ipynb
etl/inegi_census/*.ipynb

